* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: gray;
    background: white;
}

header {
    margin: 0 auto;
    width: 600px;
}

h1 {
    font-size: 1.5rem;
    margin: 1rem;
    color: black;
    text-align: center;
}

form {
    width: auto;
    margin: auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 /0.1);
    border-radius: 1rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    gap: 2rem;
    margin: 2rem;
    border: 1px solid rgb(0 0 0 /0.2);
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label,
input,
button,
select,
textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: .5rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: ;
    height: ;
    vertical-align: bottom;
}